.InputBox{
    padding: 10px;
    font-size: large;
}

.InputBox p{
    margin-top: 10px; 
    /* overflow: hidden; */
}

.btn{
    /* padding: px; */
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(12, 3, 139, 0.832) !important;
    background-image: linear-gradient(blue,white);
}

.btn:hover{
    border: 2px solid black;
}

.link{
    margin-top: 2vh;
    /* overflow: hidden; */
}